<p id="notice"><%= notice %></p>

<div>
  <h1>User: <%= @user.name %>

  <% if @user.avatar.present? %>
    <%= image_tag @user.avatar, style: "width: 100px; display: inline; border: 2px solid black;" %>
  <% end %>
  </h1>
<div>

<% @user.posts.each do |post| %>
  <h2> <%= link_to post.title, post %></h2>
  <% if post.image.present? %>
    <p><%= image_tag post.image, style: "width: 300px; display: block" %></p>
  <% end %>
  <p><%= post.body.truncate(100) %></p>
<% end %>
